<p id="notice"><%= notice %></p>

<p>
  <b>Tipo institucion:</b>
  <%= @career.tipo_institucion %>
</p>

<p>
  <b>Carrera:</b>
  <%= @career.carrera %>
</p>

<p>
  <b>Institucion:</b>
  <%= @career.institucion %>
</p>

<p>
  <b>Areas conocimiento:</b>
  <%= @career.areas_conocimiento %>
</p>

<p>
  <b>Empleabilidad primer ano:</b>
  <%= @career.empleabilidad_primer_ano %>
</p>

<p>
  <b>Empleabilidad segundo ano:</b>
  <%= @career.empleabilidad_segundo_ano %>
</p>

<p>
  <b>Region mayor numero titulados:</b>
  <%= @career.region_mayor_numero_titulados %>
</p>

<p>
  <b>N matriculados primer ano:</b>
  <%= @career.n_matriculados_primer_ano %>
</p>

<p>
  <b>N matriculados total:</b>
  <%= @career.n_matriculados_total %>
</p>

<p>
  <b>Estudiantes municipales:</b>
  <%= @career.estudiantes_municipales %>
</p>

<p>
  <b>Estudiantes particular subvencionado:</b>
  <%= @career.estudiantes_particular_subvencionado %>
</p>

<p>
  <b>Estudiantes particular pagado:</b>
  <%= @career.estudiantes_particular_pagado %>
</p>

<p>
  <b>Porcentaje estudiantes psu:</b>
  <%= @career.porcentaje_estudiantes_psu %>
</p>

<p>
  <b>Promedio psu:</b>
  <%= @career.promedio_psu %>
</p>

<p>
  <b>Promedio nem:</b>
  <%= @career.promedio_nem %>
</p>

<p>
  <b>Tasa retencion primer ano:</b>
  <%= @career.tasa_retencion_primer_ano %>
</p>

<p>
  <b>Tasa retencion segundo ano:</b>
  <%= @career.tasa_retencion_segundo_ano %>
</p>

<p>
  <b>N titulados:</b>
  <%= @career.n_titulados %>
</p>

<p>
  <b>Duracion esperada:</b>
  <%= @career.duracion_esperada %>
</p>

<p>
  <b>Duracion real:</b>
  <%= @career.duracion_real %>
</p>

<p>
  <b>Promedio arancel:</b>
  <%= @career.promedio_arancel %>
</p>


<%= link_to 'Edit', edit_career_path(@career) %> |
<%= link_to 'Back', careers_path %>
