<%= form_for(@career) do |f| %>
  <% if @career.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@career.errors.count, "error") %> prohibited this career from being saved:</h2>

      <ul>
      <% @career.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tipo_institucion %><br />
    <%= f.text_field :tipo_institucion %>
  </div>
  <div class="field">
    <%= f.label :carrera %><br />
    <%= f.text_field :carrera %>
  </div>
  <div class="field">
    <%= f.label :institucion %><br />
    <%= f.text_field :institucion %>
  </div>
  <div class="field">
    <%= f.label :areas_conocimiento %><br />
    <%= f.text_field :areas_conocimiento %>
  </div>
  <div class="field">
    <%= f.label :empleabilidad_primer_ano %><br />
    <%= f.text_field :empleabilidad_primer_ano %>
  </div>
  <div class="field">
    <%= f.label :empleabilidad_segundo_ano %><br />
    <%= f.text_field :empleabilidad_segundo_ano %>
  </div>
  <div class="field">
    <%= f.label :region_mayor_numero_titulados %><br />
    <%= f.text_field :region_mayor_numero_titulados %>
  </div>
  <div class="field">
    <%= f.label :n_matriculados_primer_ano %><br />
    <%= f.text_field :n_matriculados_primer_ano %>
  </div>
  <div class="field">
    <%= f.label :n_matriculados_total %><br />
    <%= f.text_field :n_matriculados_total %>
  </div>
  <div class="field">
    <%= f.label :estudiantes_municipales %><br />
    <%= f.text_field :estudiantes_municipales %>
  </div>
  <div class="field">
    <%= f.label :estudiantes_particular_subvencionado %><br />
    <%= f.text_field :estudiantes_particular_subvencionado %>
  </div>
  <div class="field">
    <%= f.label :estudiantes_particular_pagado %><br />
    <%= f.text_field :estudiantes_particular_pagado %>
  </div>
  <div class="field">
    <%= f.label :porcentaje_estudiantes_psu %><br />
    <%= f.text_field :porcentaje_estudiantes_psu %>
  </div>
  <div class="field">
    <%= f.label :promedio_psu %><br />
    <%= f.text_field :promedio_psu %>
  </div>
  <div class="field">
    <%= f.label :promedio_nem %><br />
    <%= f.text_field :promedio_nem %>
  </div>
  <div class="field">
    <%= f.label :tasa_retencion_primer_ano %><br />
    <%= f.text_field :tasa_retencion_primer_ano %>
  </div>
  <div class="field">
    <%= f.label :tasa_retencion_segundo_ano %><br />
    <%= f.text_field :tasa_retencion_segundo_ano %>
  </div>
  <div class="field">
    <%= f.label :n_titulados %><br />
    <%= f.text_field :n_titulados %>
  </div>
  <div class="field">
    <%= f.label :duracion_esperada %><br />
    <%= f.text_field :duracion_esperada %>
  </div>
  <div class="field">
    <%= f.label :duracion_real %><br />
    <%= f.text_field :duracion_real %>
  </div>
  <div class="field">
    <%= f.label :promedio_arancel %><br />
    <%= f.text_field :promedio_arancel %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
