<h1>Listing feeds</h1>

<table>
  <tr>
    <th>University</th>
    <th>Address</th>
    <th>Price</th>
    <th>Rank</th>
    <th>Career</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @feeds.each do |feed| %>
  <tr>
    <td><%= feed.university %></td>
    <td><%= feed.address %></td>
    <td><%= feed.price %></td>
    <td><%= feed.rank %></td>
    <td><%= feed.career %></td>
    <td><%= feed.latitude %></td>
    <td><%= feed.longitude %></td>
    <td><%= link_to 'Show', feed %></td>
    <td><%= link_to 'Edit', edit_feed_path(feed) %></td>
    <td><%= link_to 'Destroy', feed, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Feed', new_feed_path %>
