<script type="text/javascript">

$(function(){
  $('#search_promedio_arancel_greater_than, #search_promedio_arancel_less_than').change(function(){
    current = $(this);
    var min = $('#search_promedio_arancel_greater_than');
    var max = $('#search_promedio_arancel_less_than');
    other = (current.attr('id') == min.attr('id')) ? max : min;
    if( parseInt(max.val()) < parseInt(min.val())) {
      other.val(current.val());
      other.next('span').text(other.val());
    }
    current.next('span').text(current.val());
  });

  $('#search_promedio_psu_less_than').change(function(){
    current = $(this);
    current.next('span').text(current.val());
  });
  
  

})

</script>

<div id="search">
  <%= form_for @search, :url => search_path, :html => {:method => :get} do |f| %>
  <%= f.label :institucion , :style => 'color: black; margin-top: 1em; margin-bottom:1em; display: block;'%>
  <%= f.collection_select :institucion_equals, @instituciones, :to_s, :to_s, :include_blank => true  %><br />
  <%= f.label :tipo_institucion , :style => 'color: black; margin-top: 1em; margin-bottom:1em; display: block;'%>
  <%= f.collection_select :tipo_institucion_equals, @tipos_instituciones, :to_s, :to_s, :include_blank => true  %><br />
  <%= f.label :carrera , :style => 'color: black; margin-top: 1em; margin-bottom:1em; display: block;'%>
  <%= f.collection_select :carrera_equals, @carreras, :to_s, :to_s, :include_blank => true  %><br />
  <%= f.hidden_field :meta_sort %>

  <!-- etc... -->

  <%= f.label :promedio_arancel_greater_than, 'Promedio Arancel entre:', :style => 'color: black; margin-top: 1em; margin-bottom:1em; display: block;' %>
  <div class="range">
    <div>
      <%= f.range_field :promedio_arancel_greater_than, {:min=>0,:max=>@max_range.to_s} %>
      <span style="float:right; margin-right: 80px;margin-top:5px"><%= @search.promedio_arancel_greater_than %></span>
    </div>
    <div>
      <%= f.range_field :promedio_arancel_less_than, {:min=>0,:max=>@max_range.to_s} %>
      <span style="float:right; margin-right: 80px;margin-top:5px" ><%= @search.promedio_arancel_less_than %></span>
    </div>
  </div>

  <%= f.label :promedio_psu_less_than, 'Puntaje PSU hasta:', :style => 'color: black; margin-top: 1em; margin-bottom:1em; display: block;' %>
  <div class="range">
    <div>
      <%= f.range_field :promedio_psu_less_than, {:min=>200,:max=>850} %>
      <span style="float:right; margin-right: 80px;margin-top:5px" ><%= @search.promedio_psu_less_than %></span>
    </div>
  </div>


  <%= f.submit "Buscar" , :style=>"height: 30px;"%> 
<br /><br />
<a href="https://twitter.com/share" class="twitter-share-button" data-text="Mi busqueda en #mediadecision <%= short_url(request.url.to_s) %>" data-count="vertical">Tweetea tu Busqueda</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
<iframe src="//www.facebook.com/plugins/like.php?href=www.mediadecision.cl&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;appId=271015616279725" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe> 

 <% end %>
</div>
<div id="results">
  <% if @tip %>
  <div id="notice">
    <p><strong>Tip:</strong> Puedes ordenar los resultados haciendo click sobre los títulos de cada columna</p> 
  </div>  
  <% end %>

  <table id="rounded-corner">
    <thead>
      <tr>
        <th class="top-left"><%= sort_link @search, :institucion, 'Institución' %></th>
        <th><%= sort_link @search, :carrera %></th>
        <th title="Porcentaje de alumnos empleados al primer año de egreso"><%= sort_link @search, :empleabilidad_primer_ano, "Empleabilidad Primer Año"%></th>
        <th title="Porcentaje de alumnos empleados al segundo año de egreso"><%= sort_link @search, :empleabilidad_segundo_ano, "Empleabilidad Segundo Año" %></th>
        <th title="Promedio Puntaje Prueba Selección Univesitaria"><%= sort_link @search, :promedio_psu, "Promedio PSU" %></th>
        <th title="Promedio Notas Enseñanza Media"><%= sort_link @search, :promedio_nem, "Promedio NEM" %> </th>
        <th title="Cantidad de Titulados Anualmente"><%= sort_link @search, :n_titulados, "Número de Titulados" %></th>
        <th title="Duración según malla curricular"><%= sort_link @search, :duracion_esperada , "Duracion Esperada"%> </th>
        <th title="Duracion Efectiva según datos históricos"><%= sort_link @search, :duracion_real, "Duracion Real" %> </th>
        <th title="Costo anual"><%= sort_link @search, :promedio_arancel, "Promedio Arancel" %></th>
        <th title="Cantidad de años necesarios para pagar la carrera según la renta esperada"><%= sort_link @search, :payback %></th>
        <th class="top-right"> <%= link_to 'GeoFeed', '#geofeedimg' ,:class => 'fancy_box' %>
          <div style="display:none">
            <div id="geofeedimg">
              <%= image_tag @map_feed_url  %>
            </div>
          </div> </th>
        </tr>
      </thead>
      <% @careers.each do |career| %>
      <tr class="<%= cycle("even", "odd") %>">
        <td><%= career.institucion.titleize %></td>
        <td><%= career.carrera %></td>
        <td><%= career.empleabilidad_primer_ano == 0? 'No hay datos' : number_to_percentage(career.empleabilidad_primer_ano, :precision => 0) %></td>
        <td><%= career.empleabilidad_segundo_ano == 0? 'No hay datos' : number_to_percentage(career.empleabilidad_segundo_ano, :precision => 0) %></td>
        <td><%= career.promedio_psu %></td>
        <td><%= number_with_delimiter(career.promedio_nem, :separator => ",") %></td>
        <td><%= career.n_titulados %></td>
        <td><%= number_with_precision(career.duracion_esperada,:precision => 0) %></td>
        <td><%= career.duracion_real %></td>
        <td><%= number_to_currency(career.promedio_arancel, :delimiter => ".", :precision => 0) %></td>
        <td><%= career.payback %></td>
        <td><%= link_to 'Mapa', "#geofeedrow#{career.id}", :class=> 'fancy_box' %>
          <div style="display:none">
            <div id="geofeedrow<%= career.id%>">
              <%= image_tag "http://maps.google.com/maps/api/staticmap?size=512x512&markers=size:mid|color:red|#{career.direccion_casa_central},Chile&mobile=true&sensor=false"  %>
            </div>
          </div>

        </td>
      </tr>
      <% end %>
    </table>





  </div>
