<script type="text/javascript">

$(function(){
  $('#search_promedio_arancel_greater_than, #search_promedio_arancel_less_than').change(function(){
    current = $(this);
    var min = $('#search_promedio_arancel_greater_than');
    var max = $('#search_promedio_arancel_less_than');
    other = (current.attr('id') == min.attr('id')) ? max : min;
    if( parseInt(max.val()) < parseInt(min.val())) {
      other.val(current.val());
      other.next('span').text(other.val());
    }
    current.next('span').text(current.val());
  });

  $('#search_promedio_psu_less_than').change(function(){
    current = $(this);
    current.next('span').text(current.val());
  });

})

</script>

<div id="search">
  <%= form_for @search, :url => search_path, :html => {:method => :get} do |f| %>
  <%= f.label :institucion , :style => 'color: black; margin-top: 1em; margin-bottom:1em; display: block;'%>
  <%= f.collection_select :institucion_equals, @instituciones, :to_s, :to_s, :include_blank => true  %><br />
  <%= f.label :tipo_institucion , :style => 'color: black; margin-top: 1em; margin-bottom:1em; display: block;'%>
  <%= f.collection_select :tipo_institucion_equals, @tipos_instituciones, :to_s, :to_s, :include_blank => true  %><br />
  <%= f.label :carrera , :style => 'color: black; margin-top: 1em; margin-bottom:1em; display: block;'%>
  <%= f.collection_select :carrera_equals, @carreras, :to_s, :to_s, :include_blank => true  %><br />
  <%= f.hidden_field :meta_sort %>

  <!-- etc... -->

  <%= f.label :promedio_arancel_greater_than, 'Promedio Arancel entre:', :style => 'color: black; margin-top: 1em; margin-bottom:1em; display: block;' %>
  <div class="range">
    <div>
      <%= f.range_field :promedio_arancel_greater_than, {:min=>0,:max=>@max_range.to_s} %>
      <span style="float:right; margin-right: 80px;margin-top:5px"><%= @search.promedio_arancel_greater_than %></span>
    </div>
    <div>
      <%= f.range_field :promedio_arancel_less_than, {:min=>0,:max=>@max_range.to_s} %>
      <span style="float:right; margin-right: 80px;margin-top:5px" ><%= @search.promedio_arancel_less_than %></span>
    </div>
  </div>

  <%= f.label :promedio_psu_less_than, 'Puntaje PSU hasta:', :style => 'color: black; margin-top: 1em; margin-bottom:1em; display: block;' %>
  <div class="range">
    <div>
      <%= f.range_field :promedio_psu_less_than, {:min=>200,:max=>850} %>
      <span style="float:right; margin-right: 80px;margin-top:5px" ><%= @search.promedio_psu_less_than %></span>
    </div>
  </div>


  <%= f.submit "Buscar" , :style=>"height: 30px;"%>
  <% end %>
</div>
<div id="results">
  <h1></h1>
  <table id="rounded-corner">
    <thead>
      <tr>
        <th class="top-left"><%= sort_link @search, :institucion %></th>
        <th><%= sort_link @search, :carrera %></th>
        <th title="asda"><%= sort_link @search, :empleabilidad_primer_ano%></th>
        <th><%= sort_link @search, :empleabilidad_segundo_ano %></th>
        <th><%= sort_link @search, :promedio_psu %></th>
        <th><%= sort_link @search, :promedio_nem %></th>
        <th><%= sort_link @search, :n_titulados %></th>
        <th><%= sort_link @search, :duracion_esperada %> </th>
        <th><%= sort_link @search, :duracion_real %> </th>
        <th><%= sort_link @search, :promedio_arancel %></th>
        <th><%= sort_link @search, :payback %></th>
        <th class="top-right"> <%= link_to 'GeoFeed', '#geofeedimg' ,:class => 'fancy_box' %>
          <div style="display:none">
            <div id="geofeedimg">
              <%= image_tag @map_feed_url  %>
            </div>
          </div> </th>
        </tr>
      </thead>
      <% @careers.each do |career| %>
      <tr class="<%= cycle("even", "odd") %>">
        <td><%= career.institucion.titleize %></td>
        <td><%= career.carrera %></td>
        <td><%= number_to_percentage(career.empleabilidad_primer_ano, :precision => 0) %></td>
        <td><%= number_to_percentage(career.empleabilidad_segundo_ano, :precision => 0) %></td>
        <td><%= career.promedio_psu %></td>
        <td><%= number_with_delimiter(career.promedio_nem, :separator => ",") %></td>
        <td><%= career.n_titulados %></td>
        <td><%= number_with_precision(career.duracion_esperada,:precision => 0) %></td>
        <td><%= career.duracion_real %></td>
        <td><%= number_to_currency(career.promedio_arancel, :delimiter => ".", :precision => 0) %></td>
        <td><%= career.payback %></td>
        <td><%= link_to 'Mapa', "#geofeedrow#{career.id}", :class=> 'fancy_box' %>
          <div style="display:none">
            <div id="geofeedrow<%= career.id%>">
              <%= image_tag "http://maps.google.com/maps/api/staticmap?size=512x512&markers=size:mid|color:red|#{career.direccion_casa_central},Chile&mobile=true&sensor=false"  %>
            </div>
          </div>

        </td>
      </tr>
      <% end %>
    </table>





  </div>
